/*!
 * Dark Mode Switch v1.0.1 (https://github.com/coliff/dark-mode-switch)
 * Copyright 2021 C.Oliff
 * Licensed under MIT (https://github.com/coliff/dark-mode-switch/blob/main/LICENSE)
 */

body[data-theme="dark"] {
  	background-color: #26273b !important;
  	/* #373546 */
  	/* #26273b */
  	color: #eee;
}

[data-theme="dark"] .navbar-mobile-section {
	background-color: #26273b !important;
	color: #eee !important;
}

[data-theme="dark"] .neumorph-light {
	box-shadow:  12px 12px 24px #1d1e2d,
             -12px -12px 24px #2f3049 !important;
}

[data-theme="dark"] .modal-content {
	background-color: #26273b !important;
	color: #eee !important;
}

[data-theme="dark"] .modal-qrcode {
	background-color: #eee !important;
	/* color: #eee !important; */
}

[data-theme="dark"] .btn-close {
	color: #eee !important;
}

[data-theme="dark"] .border {
	border-color: #eee !important;
}

[data-theme="dark"] .text-muted {
	color: #eee !important;
}

[data-theme="dark"] .text-dark {
	color: #eee !important;
}

[data-theme="dark"] .nav-link {
	color: #eee !important;
}

[data-theme="dark"] .bg-main {
	background-color: #26273b !important;
}

/* [data-theme="dark"] .prof-pic-container {
	border-color: #26273b !important;
} */

[data-theme="dark"] .highlight-add {
	background-color: #222 !important;
	border: 1px #eee solid !important;
}

[data-theme="dark"] .highlight-title {
	color: #eee !important;
}

[data-theme="dark"] .highlight-option {
	color: #eee !important;
}

[data-theme="dark"] .bg-black {
  	background-color: #fff !important;
}

[data-theme="dark"] .bg-dark {
  	background-color: #eee !important;
}

[data-theme="dark"] .bg-light {
  	background-color: #222 !important;
}

[data-theme="dark"] .bg-white {
  	background-color: #000 !important;
}