.login-box {
	/* background-color: #dde6ee; */
	border: none;
	/* box-shadow:  7px 7px 26px #bcc4ca,
	-7px -7px 26px #feffff; */
}

.google-btn {
	border-radius: 50px;
	/* box-shadow:  7px 7px 26px #bcc4ca,
	-7px -7px 26px #feffff; */
}

.forgot-text {
	font-size: .9rem;
}