.post-box {
	max-width: 50rem;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.post-prof-pic {
	min-width: 2.5rem;
	min-height: 2.5rem;
	width: 3rem;
	height: 3rem;
}

.post-watermark {
	font-size: .6rem;
}

.edit-form-modal {
	max-height: 30rem;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.post-box {
		/* max-width: 50rem; */
		box-shadow: none;
	}

	.post-watermark {
		font-size: .5rem;
	}

	.post-prof-pic {
		width: 2.5rem;
		height: 2.5rem;
	}
	
	.post-user-name {
		font-size: 1rem !important;
	}

	.post-user-job {
		font-size: .8rem !important;
	}

	.post-user-time {
		font-size: .8rem !important;
	}

	.post-description-text {
		font-size: .65rem !important
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.post-watermark {
		font-size: .5rem;
	}
	
	.post-prof-pic {
		width: 2.6rem;
		height: 2.6rem;
	}

	.post-user-name {
		font-size: 1rem !important;
	}

	.post-user-job {
		font-size: .8rem !important;
	}

	.post-user-time {
		font-size: .8rem !important;
	}

	.post-description-text {
		font-size: .7rem !important
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
	.post-watermark {
		font-size: .55rem;
	}

	.post-prof-pic {
		width: 2.8rem;
		height: 2.8rem;
	}
	
	.post-user-name {
		font-size: 1rem !important;
	}

	.post-user-job {
		font-size: .8rem !important;
	}

	.post-user-time {
		font-size: .8rem !important;
	}

	.post-description-text {
		font-size: .8rem !important
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){
	
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px){
	
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
	
}