.navbar {
	max-height: 5rem;
}

.img-logo {
	height: 50px;
}

.header-section {
	height: 25rem;
	position: relative;
	border-radius: 0 0 50px 50px;
	/* box-shadow:  7px 7px 26px #bcc4ca,
	-7px 0 26px #feffff; */
}

.bg-overlay {
	background-color: black;
	opacity: .5;
	border-radius: 0 0 50px 50px;
}

.header-box {
	height: 65%;
	width: 65%;
}

.prof-pic-container {
	max-width: 10.5rem;
	max-height: 10.5rem;
	border-radius: 50%;
	border: 5px #dde6ee solid;
}

.highlight-section {
	max-height: 16.5rem;
}

.highlight-item {
	width: 100%;
}

.highlight-add {
	background-color: #7c848a;
}

.highlight-thumbnail {
	/* height: 100px;
	width: 100px; */
	height: 6.5rem;
	width: 6.5rem;
	border-radius: 50%;
	/* box-shadow:  7px 7px 26px #bcc4ca,
	-7px -7px 26px #feffff; */
}

.highlight-title {
	margin-top: 1.5rem;
}

.post-section {
	border-radius: 50px 50px 0 0;
	/* box-shadow:  7px 7px 26px #bcc4ca,
	-7px -7px 26px #feffff; */
	min-height: 300px;
	height: 100%;
}

.post-options {
	height: 5rem;
}

.post-options > .active{
	border-bottom: 3px #0080ff solid;
	color: #0080ff;
}

.post-items > .active{
	height: auto !important;
	opacity: 1 !important;
	transition: height 0s, opacity 1s linear;
}

.bg-video {
	background-color: #000000;
	opacity: 0;
}

.bg-video:hover {
	opacity: 0.2;
}

.play-icon {
	opacity: 0.7;
}

.bg-video:hover + .play-icon{
	opacity: 1;
}

.navbar-mobile-section {
	border-radius: 25px 25px 0 0;
	box-shadow:  5px 5px 10px #bcc4ca,
	-5px -5px 10px #feffff !important;
	height: 5rem;
}

.preview-placeholder {
	min-height: 15rem;
}

.modal-qrcode > svg {
	min-height: 40vw;
	min-width: 40vw;
}

.highlight-prof-pic {
	min-width: 2.5rem;
	min-height: 2.5rem;
	width: 3rem;
	height: 3rem;
}

.prev-prof-pic-container {
	width: 100%;
	height: auto;
	border-radius: 50%;
	border: 5px #dde6ee solid;
}

@media (max-width: 424.98px) {
	.header-section {
		border-radius: 0 0 25px 25px;
		height: 15rem;
	}

	.header-box {
		height: 90%;
		width: 90%;
	}

	.bg-overlay {
		border-radius: 0 0 25px 25px;
	}

	.prof-pic-container {
		width: 6rem;
		height: 6rem;
		border: 3px #dde6ee solid;
	}

	.profile-name {
		font-size: 1.2rem;
	}

	.profile-job {
		font-size: .75rem;
		font-weight: normal !important;
	}

	.profile-bio {
		padding-top: .4rem;
		font-size: .6rem;
	}

	.highlight-thumbnail {
		width: 4.5rem;
		height: 4.5rem;
	}

	.highlight-title {
		margin-top: .8rem;
		font-size: .75rem;
	}

	.post-section {
		border-radius: 25px 25px 0 0;
		padding-bottom: 5.8rem;		
	}

	.post-options {
		height: 3.5rem;
	}

	.navbar-mobile-text {
		font-size: .65rem;
	}

	.highlight-prof-pic {
		width: 2.5rem;
		height: 2.5rem;
	}
	
	.highlight-user-name {
		font-size: 1rem !important;
	}
	
	.highlight-user-job {
		font-size: .8rem !important;
	}
	
	.highlight-user-time {
		font-size: .8rem !important;
	}
	
	.highlight-description {
		font-size: .65rem !important
	}

	.prev-prof-pic-container {
		width: 5.5rem;
		height: 5.5rem;
		border: 3px #dde6ee solid;
	}
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 425px) and (max-width: 575.98px) {
	.header-section {
		border-radius: 0 0 25px 25px;
		height: 15rem;
	}

	.header-box {
		height: 90%;
		width: 90%;
	}

	.bg-overlay {
		border-radius: 0 0 25px 25px;
	}

	.prof-pic-container {
		width: 7rem;
		height: 7rem;
		border: 3px #dde6ee solid;
	}

	.profile-name {
		font-size: 1.2rem;
	}

	.profile-job {
		font-size: .85rem;
	}

	.profile-bio {
		padding-top: .5rem;
		font-size: .7rem;
	}

	.highlight-thumbnail {
		width: 5rem;
		height: 5rem;
	}

	.highlight-title {
		margin-top: .9rem;
		font-size: .77rem;
	}

	.post-section {
		border-radius: 25px 25px 0 0;
		padding-bottom: 5.8rem;		
	}

	.post-options {
		height: 3.5rem;
	}

	.navbar-mobile-text {
		font-size: .85rem;
	}

	.highlight-prof-pic {
		width: 2.5rem;
		height: 2.5rem;
	}
	
	.highlight-user-name {
		font-size: 1rem !important;
	}
	
	.highlight-user-job {
		font-size: .8rem !important;
	}
	
	.highlight-user-time {
		font-size: .8rem !important;
	}
	
	.highlight-description {
		font-size: .65rem !important
	}

	.prev-prof-pic-container {
		width: 6rem;
		height: 6rem;
		border: 3px #dde6ee solid;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {	
	.header-section {
		height: 15rem;
	}

	.header-box {
		height: 80%;
		width: 80%;
	}

	.prof-pic-container {
		width: 8.2rem;
		height: 8.2rem;
		border: 4px #dde6ee solid;
	}

	.profile-name {
		font-size: 1.5rem;
	}

	.profile-job {
		font-size: .9rem;
	}

	.profile-bio {
		padding-top: .5rem;
		font-size: .75rem;
	}

	.highlight-thumbnail {
		width: 5.4rem;
		height: 5.4rem;
	}

	.highlight-title {
		margin-top: 1rem;
		font-size: .9rem;
	}

	.post-section {
		padding-bottom: 5.8rem;
	}
	

	.highlight-prof-pic {
		width: 2.6rem;
		height: 2.6rem;
	}
	
	.highlight-user-name {
		font-size: 1rem !important;
	}
	
	.highlight-user-job {
		font-size: .8rem !important;
	}
	
	.highlight-user-time {
		font-size: .8rem !important;
	}
	
	.highlight-description {
		font-size: .7rem !important
	}

	.navbar-mobile-text {
		font-size: .9rem;
	}

	.prev-prof-pic-container {
		width: 7rem;
		height: 7rem;
		border: 3px #dde6ee solid;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
	.header-section {
		height: 15rem;
	}

	.header-box {
		height: 75%;
		width: 75%;
	}

	.prof-pic-container {
		width: 9rem;
		height: 9rem;
		border: 4px #dde6ee solid;
	}

	.profile-name {
		font-size: 1.5rem;
	}

	.profile-job {
		font-size: .9rem;
	}

	.profile-bio {
		font-size: .8rem;
	}

	.highlight-thumbnail {
		width: 5.4rem;
		height: 5.4rem;
	}

	.highlight-title {
		margin-top: 1rem;
		font-size: .9rem;
	}

	.highlight-prof-pic {
		width: 2.8rem;
		height: 2.8rem;
	}
	
	.highlight-user-name {
		font-size: 1rem !important;
	}
	
	.highlight-user-job {
		font-size: .8rem !important;
	}
	
	.highlight-user-time {
		font-size: .8rem !important;
	}
	
	.highlight-description {
		font-size: .8rem !important
	}

	.navbar-mobile-text {
		font-size: 1rem;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){
	.header-section {
		height: 20rem;
	}

	.prof-pic-container {
		width: 9.5rem;
		height: 9.5rem;
	}

	.profile-name {
		font-size: 1.5rem;
	}

	.profile-job {
		font-size: 1rem;
	}

	.profile-bio {
		font-size: .9rem;
	}

	.highlight-thumbnail {
		width: 5.5rem;
		height: 5.5rem;
	}

	.highlight-title {
		margin-top: 1.2rem;
		font-size: .91rem;
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px){
	.prof-pic-container {
		width: 10rem;
		height: 10rem;
	}

	.highlight-section {
		max-height: 16rem;
	}

	.highlight-thumbnail {
		width: 5.8rem;
		height: 5.8rem;
	}

	.highlight-title {
		margin-top: 1.3rem;
		font-size: .92rem;
	}

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
	.prof-pic-container {
		width: 10.5rem;
		height: 10.5rem;
	}
}