.bg-main {
	background-color: #dde6ee;
}

.bg-dark {
	background-color: #26273b;
}

.neumorph-light {
	box-shadow:  7px 7px 26px #bcc4ca,
	-7px 0 26px #feffff;
}

.text-green {
	color: #14aa9f;
}

.bg-green {
	background-color: #14aa9f;
}

.text-purple {
	color: #c0158f;
}

.bg-purple {
	background-color: #c0158f;
}

.text-yellow {
	color: #fec20c;
}

.bg-yellow {
	background-color: #fec20c;
}